a{
    text-decoration: none;
    color: black;
    font-family: Roboto, Arial, sans-serif;
}

p{
    font-family: Roboto, Arial, sans-serif;
    margin: 0px 0px;
}

body{
    margin: 0px 0px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(250, 250, 250);
}