.thumbnail{
    width: 100%;
    border: none;
    border-radius: 5px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 10px;
    cursor: pointer;
}

.channel-profile-pic{
    width: 36px;
    height: 36px;
    margin-top: 0px;
    border-radius: 50%;
}

.video-title{
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    margin-bottom: 10px;
}   

.channel-name{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}

.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 16px;
    row-gap: 20px;
}

.channel-profile-pic-container{
    width: 50px;
} 

.thumbnail-container{
    position: relative;
    margin-bottom: 8px;
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: 12px;
    font-weight: 550;
    padding: 4px 4px;
    border-radius: 2px;
}